*{
  box-sizing: border-box;
}
.h{
  font-size: 22px;
  font-family: "Raleway";
  text-transform: uppercase;
  text-decoration: none;
  color: #2d3033;
}
.p{
  font-size: 13px;
  color: #e84545;
  font-family: "Raleway";
  text-transform: uppercase;

}
.text{
  font-size: 14px;
  line-height: 21px;
  color: #6c7279;
  font-family: "Raleway";
}
.ref{

  margin: 30px 3px 0 0;

}
.ref a{
  padding: 1rem;
  color: #6c7279;
  border: 1px solid #6c7279;
}
